<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringBootProjectApplication" type="Application" factoryName="Application" nameIsGenerated="true">
    <option name="ALTERNATIVE_JRE_PATH" value="$USER_HOME$/.jdks/openjdk-23.0.1" />
    <option name="ALTERNATIVE_JRE_PATH_ENABLED" value="true" />
    <option name="MAIN_CLASS_NAME" value="SpringBootProjectApplication" />
    <module name="Spring-boot-project" />
    <option name="WORKING_DIRECTORY" value="$PROJECT_DIR$/Spring-boot-project" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>